body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(104, 116, 92);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  height: 50vh;
  background: url("/home/dci/Documents/React/PicPhotos/photos/src/images/maxresdefault.png")
    top right no-repeat;
  background-color: rgb(225, 225, 225);
  height: 90vh;
  display: flex;
  justify-content: flex-start;
}

.search {
  height: 15vh;
  width: fit-content;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(117, 117, 117);
  margin: 7em;
  padding: 2em;
}
.search input {
  align-self: center;
  justify-self: center;
  background-color: inherit;
  margin: 1em;
  border: 3px rgba(0, 0, 0, 0.5) solid;
  border-radius: 20px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 7px;
  height: 48;
  padding: 2em;
  cursor: pointer;
}
.search button {
  color: inherit;
  margin: 0 1em;
  background-color: inherit;
  border: white;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 7px;
  height: 48;
  padding: 2rem;
  align-self: center;
}
main {
  padding: 6em;
}
